<div>
    <form action="/weather" method="POST">
        <label for="location">location</label>
        <input id="location" type="text">
        <button type="submit">Check</button>
    </form>
</div>